.title {
    margin: 0;
    color: rgb(0, 0, 0);
    padding: 90px;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.kop {
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.vetText {
    color: black;
    font-weight:bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.promptchats {
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    
}

.authortext {
    font-size: small;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
}
.centerimage {
  display: flex;
  align-items: center;
  justify-content: center;
}


h1 {
    font-size: 15vw em;
}

p {
    font-size: 10vw em;
}