
/*background*/
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #000000;
    line-height: 20px;
}




/*super duber cool title*/
h1 {
    margin: 0;
    color: rgb(0, 255, 34);
    padding: 15px;
    font-size: 100px;
    line-height: 50px;
    text-align: center;
}


/*this is used for dialogs or story related things*/
h2 {
    margin: 0;
    color: white;
    padding: 10;
    font-size: 30px;
    line-height: 30px;
    font-family: sans-serif;

}


/*small text*/
h5 {
    margin: 0;
    color:white;
    padding: 10;
    font-size: 10px;
    line-height: 1;
    font-family: sans-serif;
    text-align: center;
}




/*this is used for the menu to continue or quit the game*/
h3 {
    margin: 30;
    color: white;
    padding: 20;
    font-size: 95;
    line-height: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}

/*this is used for different type of sizes of the text*/
h4 {
    margin: 0;
    color: white;
    padding: 0;
    font-size: 95;
    line-height: 100px;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
}

p {
    margin: 0;
    color: white;
    padding: 0;
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
} 

h6 {
     margin: 0;
    color: white;
    padding: 0;
    font-size: 60;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h7 {
    margin: 0;
    color: rgb(255, 18, 18);
    padding: 50;
    font-size: 100;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h8 {
    margin: 0;
    color: white;
    padding: 10;
    font-size: 20;
    font-family: 'Times New Roman', Times, serif;
    
}




/*this is the buttons used for this game and menu*/
.imready {
  display: inline-block;       /* maakt het mogelijk om breedte/hoogte/padding te geven */
  padding: 15px 25px;           /* ruimte binnen de box */
  background-color: #5eff00;    /* achtergrondkleur */
  border: 2px solid #333;       /* rand om de box */
  border-radius: 8px;           /* afgeronde hoeken (optioneel) */
  color: rgb(255, 255, 255);                 /* tekstkleur */
  text-decoration: none;
}

.quitgame {
display: inline-block;       /* maakt het mogelijk om breedte/hoogte/padding te geven */
  padding: 15px 25px;           /* ruimte binnen de box */
  background-color: #ff0e0e;    /* achtergrondkleur */
  border: 2px solid #333;       /* rand om de box */
  border-radius: 8px;           /* afgeronde hoeken (optioneel) */
  color: rgb(255, 255, 255);                 /* tekstkleur */
  text-decoration: none;
 
}

/*used for the choices*/
.choice {
  display: inline-block;       
  padding: 10px 15px;           
  background-color: #ffffff;    
  border: 2px solid #333;       
  border-radius: 8px;           
  color: rgb(0, 0, 0);               
  text-decoration: none;
  font-size: 20px;
}

/*for the images*/
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bio {
    display: flex;
    gap: 20px; /* space between image and text */
}
