body{
    margin: 0;
    padding: 0;
    background-color: #323643;
    color: #F7F7F7;
    font-size: 150%;
}

.box
{
    background-color: #606470;
    border: 3px solid #93DEFF;
    margin-top: 20px;
    width: 100%;
    min-height: 640px;
    height:auto;
    text-align: center;
    float: left;
}
.title
{
    text-align: center;
    float: left;
}
