
/*background*/
body {
    font-family: sans-serif;
    background-color: #ffffff;
    line-height: 20px;
}

/*page title*/
h1 {
    margin: 0;
    color: rgb(0, 0, 0);
    padding: 90px;
    font-size: 100px;
    line-height: 50px;
    text-align: center;
}

/*this is used for the text on the navigation bar*/
h2 {
    margin: 15;
    color: white;
    padding: 0;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}


h3 {  /*this is only used for error messages when a page isn't avalible*/
  margin: 30;
  color: rgb(0, 0, 0);
 padding: 1; 
  font-size: 49px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  
}

h4 {  /*this is only used for error messages when a page isn't avalible*/
  margin: 0;
  color: black;
 padding: 1; 
  font-size: 49px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  
}

/*this is used for the article font and size */
h5 {
  margin: 0;
  color: black;
  padding: 0;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

/*this is used for the copyright text*/
p {
  color: rgb(255, 255, 255);
  padding: 0;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.errormessage {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 19px 49px;
  font-family: sans-serif;
  font-size: 49px;
  text-decoration: none;
}

/*this is used to the background from the contact page*/
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*this is used for the text apearing next to the image*/
.about-container {
    display: flex;
    gap: 20px; /* space between image and text */
}
 
body {
  margin: 0;
  padding: 0;
}




/* <!-- this is used for the selection of a page --> */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #42567a;
  display: flex;
  justify-content: flex-end;
}

/* <!--this is used for the text of the selection--> */
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 19px 49px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 40px;
}

/*cool looking background for the selection*/
ul li a:hover {
  background-color: #769e9a;
}

/*this is used for the copyright/socials background*/
.downtext {
  list-style-type: none;
  margin: 0;
  padding: 40;
  overflow: hidden;
  background-color: #000000;
  

}

/*this is used for the text so it can be in the background image in contact*/
.topleftimagetext {
  position: absolute;
  top: 8px;
  left: 35px;
  font-size: 20px;
}

.container {
  position: relative;
}



