body{
    margin: 0;
    padding: 5;
    background-color: white;
    color: black;
    font-size: 150%;
}

header{
    width: 100%;
    height: auto;
    background-color: lightgray;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 20px;
}
article{
    width: 74%;
    min-height: 400px;
    background-color: white;
    box-sizing: border-box;
    text-align: center;
    margin-top:20px;
    margin-bottom: 20px;
    float: left;
}
aside
{
    margin-top:20px;
    text-align: center;
    width: 24%;
    min-height: 400px;
    background-color: lightgray;
    float: right;
    box-sizing: border-box;
    padding: 5px;
}

footer{
    width: 100%;
    height: auto;
    background-color: lightgray;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
    clear: both;
    margin-top: 20px;
}
button{
    background-color: lightblue;
    border: none;
    padding: 10px;
    font-size: 100%;
    cursor: pointer;
    border: 5px solid blue;
    margin: 10px;
}
button:hover{
    background-color: blue;
    color: white;
}
.box{
    width: 100%;
    height: auto;
    background-color: lightblue;
}